<ion-header>
  <ion-toolbar>
    <ion-title>Encuesta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>¿Eres zurdo o diestro?</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="respuesta">
      <ion-item>
        <ion-label>Zurdo</ion-label>
        <ion-radio slot="start" value="zurdo"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Diestro</ion-label>
        <ion-radio slot="start" value="diestro"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <div>
    <ion-button expand="full" (click)="enviarRespuestas()">Enviar respuestas</ion-button>
  </div>
</ion-content>