<ion-header>
  <ion-toolbar>
    <ion-title>
      Pregunta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Define con tus palabras el TFG (Trabajo de Fin de Grado)
    </ion-list-header>

    <ion-item>
      <ion-textarea maxlength="140" [(ngModel)]="mensajeRespuesta" autoGrow="true"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="mensajeRespuesta?.length === 140" color="danger">
      Límite de caracteres alcanzado (140 caracteres máximos).
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="enviarRespuesta()">Enviar respuesta</ion-button>
</ion-content>