<ion-header>
  <ion-toolbar>
    <ion-title>
      Preguntas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Pregunta 1
    </ion-list-header>

    <ion-radio-group [(ngModel)]="selectedOption1">
      <ion-item>
        <ion-label>Primavera</ion-label>
        <ion-radio value="Primavera"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Verano</ion-label>
        <ion-radio value="Verano"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Otoño</ion-label>
        <ion-radio value="Otoño"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Invierno</ion-label>
        <ion-radio value="Invierno"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Pregunta 3
    </ion-list-header>

    <ion-item>
      <ion-label>Juan</ion-label>
      <ion-checkbox [(ngModel)]="selectedOptions['Juan']"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Jose</ion-label>
      <ion-checkbox [(ngModel)]="selectedOptions['Jose']"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Pepe</ion-label>
      <ion-checkbox [(ngModel)]="selectedOptions['Pepe']"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Alvaro</ion-label>
      <ion-checkbox [(ngModel)]="selectedOptions['Alvaro']"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Define con tus palabras el TFG (Trabajo de Fin de Grado)
    </ion-list-header>

    <ion-item>
      <ion-textarea maxlength="140" [(ngModel)]="mensajeRespuestaCorta" autoGrow="true"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="mensajeRespuestaCorta?.length === 140" color="danger">
      Límite de caracteres alcanzado (140 caracteres máximos).
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Pregunta 4
    </ion-list-header>

    <ion-item>
      <ion-textarea class="custom-textarea" maxlength="500" [(ngModel)]="mensajeRespuesta"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="mensajeRespuesta?.length === 500" color="danger">
      Límite de caracteres alcanzado (500 caracteres máximos).
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      ¿Con qué nota valora este TFG?
    </ion-list-header>

    <ion-item>
      <ion-range min="1" max="10" step="1" snaps="true" [(ngModel)]="selectedRating" (ionChange)="updateSelectedValue($event)">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
        <ion-label slot="value">{{ selectedRating }}</ion-label>
      </ion-range>
    </ion-item>
    <p class="selected-value">Valor seleccionado: {{ selectedRating }}</p>
  </ion-list>

  <ion-button expand="full" (click)="enviarRespuestas()">Enviar respuestas</ion-button>
</ion-content>